<!-- Barra de Navegación Superior -->
<app-operaciones-navbar></app-operaciones-navbar>

<div class="row">
  <!-- Barra de Navegación Lateral -->
  <app-oficina-sidenav></app-oficina-sidenav>

        <!-- Cuerpo de la Sección -->
        <div class="col s9 offset-s3">
                <div class="col s3">
                  <div class="card">
                    <div class="card-image">
                      <img src="assets/img/operaciones/metodosEnvio.jpg">
                    </div>
                    <div class="card-content grey darken-4 white-text">
                        <span class="card-title">Tiendas</span>
                      <p>Localizacion e informacion de tiendas disponibles para los consumidores.</p>
                    </div>
                    <div class="card-action grey darken-4 yellow darken-2-text">
                        <a routerLink="/tiendas/Tienda">Ver más...</a>
                    </div>
                  </div>
                </div>


                <div class="col s3">
                    <div class="card">
                      <div class="card-image">
                        <img src="assets/img/oficinas/CentroDeDistribucion.jpg">
                      </div>
                      <div class="card-content grey darken-4 white-text">
                          <span class="card-title">Centro de Distribución</span>
                        <p>Centros de Distribución, Oficinas de Servicio Locales y Hubs.</p>
                      </div>
                      <div class="card-action grey darken-4 yellow darken-2-text">
                          <a routerLink="/tiendas/Centro de Distribución">Ver más...</a>
                      </div>
                    </div>
                  </div>

                  <div class="col s3">
                      <div class="card">
                        <div class="card-image">
                          <img src="assets/img/operaciones/oficinas.jpeg">
                        </div>
                        <div class="card-content grey darken-4 white-text">
                            <span class="card-title">Mixtas</span>
                          <p>Centros de Distribución, Oficinas de Servicio Locales y Hubs.</p>
                        </div>
                        <div class="card-action grey darken-4 yellow darken-2-text">
                            <a routerLink="/tiendas/Mixta">Ver más...</a>
                        </div>
                      </div>
                    </div>

          </div>
