.logo {
    height: 64px;
}

.logo-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 85%;
}

.cursor-pointer {
    cursor: pointer;
}

.collapsible-header{
    display: block;
    font-size: 14px;
    font-weight: 500;
}