<ul id="slide-out" class="sidenav sidenav-fixed yellow darken-2">
        <!-- Logo -->
        <div class="logo center-align">
            <h4>FastShip</h4>
        </div>

        <!-- Menú de la Sección -->
        <ul class="collapsible grey darken-3 center-align">
            <li>
                <a class="grey darken-4 white-text sidenav-close" routerLink="/oficina">Oficina</a>    
            </li>  
            <li>
                <div class="collapsible-header white-text">Envíos</div>
                    <div class="collapsible-body">
                        <ul>
                            <li class="grey darken-2">
                                <a class="white-text sidenav-close" routerLink="/envios">Creación de Envíos</a>
                            </li> 
                            <li class="grey darken-2">
                                <a class="white-text sidenav-close" routerLink="/envios-estados">Administración de Estados de Envíos</a>
                            </li>                           
                        </ul>
                </div>
            </li>  
            <ul class="collapsible grey darken-3 center-align">
            </ul>            
        </ul>

        <!-- Menú de Otras Secciones -->        
        <li>
            <a class="subheader">Otras Secciones</a></li>
            <ul class="collapsible grey darken-4 white-text center-align">
                <li>
                    <a class="grey darken-4 white-text sidenav-close" routerLink="/operaciones">Operaciones</a>    
                <li>
        </ul>
        
        
</ul>