<body>
  <!-- Barra de Navegación Superior -->
  <app-operaciones-navbar></app-operaciones-navbar> 
  <div class="row">
    
    <!-- Barra de Navegación Lateral -->
    <app-operaciones-sidenav></app-operaciones-sidenav>      

        <!-- Cuerpo de la Sección -->
        <div class="col s9 offset-s3">
            <div class="row">
                <a class="btn-large col s3 indigo">Administración de Oficinas</a>   
                <a class="btn-large col s3 offset-s1 green modal-trigger" href="#modalCrearOficina" materialize="modal">Crear Oficina</a>           
                <a class="btn-large col s3 offset-s1 red">Eliminar Oficina</a>     
            </div>   
            <hr>
            <!-- Lista de oficinas -->
            <div class="col s9" *ngIf="arr.length>0;else noData">
                  <div class="col s4" *ngFor="let item of arr">
                    <div class="card grey darken-4 white-text">
                        <span class="card-title">{{item.nombre}}</span>
                      <div class="card-content">                        
                        <p>Dirección: {{item.direccion}}</p>
                        <p>Tipo: {{item.tipo}}</p>
                        <p>Días Laborables: {{item.horario.diasLaborables}}</p>
                        <p>Horario: {{item.horario.horaApertura}}-{{item.horario.horaCierre}}</p>
                      </div>
                      <div class="card-action">
                        <a class="modal-trigger" (click)="onUpdate(item)" href="#modalCrearOficina">Modificar</a>
                        <a class="pointer-delete" (click)="onDelete(item)"> Eliminar</a>
                      </div>
                    </div>
                  </div>
              </div>
      </div>

    <!-- Mensaje en caso no existan métodos de envío -->
    <div class="container">
      <ng-template #noData>
        
        <h5 class="center-align">No existen oficinas registradas</h5>
      </ng-template>
    </div>

      <!-- Modal que contiene el formulario de inserción y actualización de métodos de envío. -->
    <div id="modalCrearOficina" class="modal modal-fixed-footer">
        <div class="modal-content row">
          <h4>Creación de Oficina</h4>
          <form [formGroup]="oficinasForm">
              <!-- Campo de Nombre de la Oficina -->
              <div class="input-field col s6">
                  <input formControlName="nombre" type="text" class="form-control">
                  <label class="active" for="nombre">Nombre de la Oficina</label>
              </div>

              <!-- Campo de Dirección de la Oficina -->
              <div class="input-field col s6">
                  <input formControlName="direccion" class="form-control" type="text">
                  <label class="active" for="direccion">Dirección</label>
              </div>
              
              <!-- Campo de Tipo de la Oficina -->
              <div class="input-field col s4">
                  <select formControlName="tipo" class="form-control browser-default">
                    <option disabled selected>Tipo</option>
                    <option *ngFor="let tipo of opcionesTipos" [value]="tipo">{{tipo}}</option>
                  </select>
              </div>
            
              <div formGroupName="posGeografica">
                <!-- Poscisión Geográfica -->              
                <div class="input-field col s4">                
                  <input formControlName="lat" type="number" class="form-control" required step="any">
                  <label class="active" for="latitud">Latitud</label>                               
                </div>

                <div class="input-field col s4">                
                  <input formControlName="long" type="number" step="any" class="form-control">
                  <label class="active" for="longitud">Longitud</label>                               
                </div>
              </div>
              
              <div formGroupName="horario">
                <!-- Días Laborables -->              
                <div class="input-field col s6">
                    <select formControlName="diasLaborables" class="browser-default form-control">
                        <option selected disabled>Días Laborables</option>
                        <option *ngFor="let diasLab of opcionesDiasLaborables" [value]="diasLab">{{diasLab}}</option>
                    </select>
                </div> <br>

                <!-- Hora de Apertura --> 
                <div class="input-field col s3">
                    <input formControlName="horaApertura" type="time" class="form-control">
                    <label class="active">Hora de Apertura</label>                                  
                </div>

                <!-- Hora de Cierre --> 
                <div class="input-field col s3">
                    <input formControlName="horaCierre" type="time"  class="form-control">
                  <label class="active">Hora de Cierre</label>                                  
                </div>
              </div>
              
            <div class="col s6" formGroupName="disponibilidad">
              <!-- Disponibilidad --> 
              <h5>Disponibilidad</h5> 
              <p>
                <label>
                  <input  type="checkbox" formControlName="envia" class="form-control"/>
                  <span>Envía</span>
                </label>
              </p>
              <p>
                  <label>
                      <input type="checkbox" formControlName="recibe" class="form-control"/>
                      <span>Recibe</span>
                  </label>     
              </p>
              
            </div>
                                              
          </form>          
        </div>

        <div class="modal-footer">
          <button (click)='insertSubmit()' *ngIf="oficinasForm.status === 'VALID' && updClicked === false" class="modal-close btn-flat green-text">Crear</button>        
          <button (click)='updateSubmit(metodoEnvio)' *ngIf="oficinasForm.status === 'VALID' && updClicked === true"  class="modal-close btn-flat green-text">Actualizar</button>        
          <a class="modal-close btn-flat red-text" (click)='cleanForm()'>Cancelar</a>
        </div>
        
      </div>
    </div>

</body>      