   
<body>
  <!-- Barra de Navegación Superior -->
  <app-operaciones-navbar></app-operaciones-navbar> 
  <div class="row">
    
    <!-- Barra de Navegación Lateral -->
    <app-operaciones-sidenav></app-operaciones-sidenav>      

        <!-- Cuerpo de la Sección -->
        <div class="col s9">
            <div class="row">
                <a class="btn-large col s3 indigo">Administración de Oficinas</a>   
                <a class="btn-large col s3 offset-s1 green modal-trigger" href="#modalCrearOficina" materialize="modal">Crear Oficina</a>           
                <a class="btn-large col s3 offset-s1 red">Eliminar Oficina</a>     
            </div>   
            <hr>
            <!-- Lista de oficinas -->
            <div class="col s9" *ngIf="arr.length>0;else noData">
                  <div class="col s4" *ngFor="let item of arr">
                    <div class="card">
                      <div class="card-content">
                        <span class="card-title">{{item.nombre}}</span>
                        <p>Dirección: {{item.direccion}}</p>
                        <p>Tipos: {{item.tipo}}</p>
                        <p>Horario: {{item.horario.diasOperacion}} ({{item.horario.horaApertura}}-{{item.horario.horaCierre}})</p>
                      </div>
                      <div class="card-action">
                        <a class="modal-trigger" (click)="onUpdate(item)" href="#modalCrearOficina">Modificar</a>
                        <a class="pointer-delete" (click)="onDelete(item)"> Eliminar</a>
                      </div>
                    </div>
                  </div>
              </div>
      </div>

    <!-- Mensaje en caso no existan métodos de envío -->
    <div class="container">
      <ng-template #noData>
        
        <h5 class="center-align">No existen oficinas registradas</h5>
      </ng-template>
    </div>

      <!-- Modal que contiene el formulario de inserción y actualización de métodos de envío. -->
    <div id="modalCrearOficina" class="modal modal-fixed-footer">
        <div class="modal-content row">
          <h4>Creación de Oficina</h4>
          <form name='formAddOficina' #addform="ngForm">
              <!-- Campo de Nombre de la Oficina -->
              <div class="input-field col s6">
                  <input [(ngModel)]="model.nombre" name="nombre" type="text" class="form-control validate" required #nombre="ngModel">
                  <label for="nombre">Nombre de la Oficina</label>
              </div>
              
              <!-- Campo de Tipo de la Oficina -->
              <div class="input-field col s6">
                  <select [(ngModel)]="model.tipo" class="form-control validate" name="tipo" required #tipo="ngModel">
                      <option disabled value="" disabled></option>
                      <option value="Centro de Distribución">Centro de Distribución</option>
                      <option value="Tienda">Tienda</option>
                      <option value="Mixta">Mixta</option>
                    </select>
                    <label>Tipo</label>
              </div>

              <!-- Campo de Dirección de la Oficina -->
              <div class="input-field col s6">
                  <input [(ngModel)]="model.direccion"  name="direccion" class="form-control validate" type="text" required #direccion="ngModel">
                  <label for="direccion">Dirección</label>
              </div> <br>

               <!-- Poscisión Geográfica -->              
              <div class="input-field col s3">                
                  <input [(ngModel)]="model.posGeografica.lat" name="latitud" type="number" class="form-control validate" required step="any" #latitud="ngModel">
                  <label for="latitud">Latitud</label>                               
              </div>

              <div class="input-field col s3">                
                  <input [(ngModel)]="model.posGeografica.long" name="longitud" type="number" step="any" class="form-control validate" required #longitud="ngModel">
                  <label for="longitud">Longitud</label>                               
              </div>
              
              <!-- Días Laborables -->              
              <div class="input-field col s6">
                  <select [(ngModel)]="model.horario.diasLaborables" name="diasLaborables" class="form-control validate" required #diasLaborables="ngModel">
                      <option disabled value="" disabled></option>
                      <option value="Lunes-Viernes">Lunes-Viernes</option>
                      <option value="Lunes-Sábado">Lunes-Sábado</option>
                      <option value="Todos los Días">Todos los Días</option>
                    </select>
                    <label>Días Laborables</label>
              </div> <br>

              <!-- Hora de Apertura --> 
              <div class="input-field col s3">
                  <input [(ngModel)]="model.horario.horaApertura" type="time" name="horaApertura" class="form-control validate" required #horaApertura="ngModel">
                  <label>Hora de Apertura</label>                                  
              </div>

              <!-- Hora de Cierre --> 
              <div class="input-field col s3">
                  <input [(ngModel)]="model.horario.horaCierre" type="time" name="horaCierre" class="form-control validate" required #horaCierre="ngModel">
                <label>Hora de Cierre</label>                                  
              </div>

            <!-- Disponibilidad --> 
            <label>Disponibilidad</label> 
            <p>
              <label>
                <input [(ngModel)]="model.disponibilidad.envia" type="checkbox" name="envia" class="form-control validate" #envia="ngModel"/>
                <span>Envía</span>
              </label>
            </p>
              <label>
                  <input [(ngModel)]="model.disponibilidad.recibe" type="checkbox" name="recibe" class="form-control validate" #recibe="ngModel"/>
                  <span>Recibe</span>
              </label>                                        
          </form>          
                        
        </div>

        <div class="modal-footer">
          <button (click)='insertSubmit()' *ngIf="updClicked === false" class="modal-close btn-flat green-text" [disabled]="!addform.form.valid">Crear</button>        
          <button (click)='updateSubmit(metodoEnvio)' *ngIf="updClicked === true"  class="modal-close btn-flat green-text" [disabled]="!addform.form.valid">Actualizar</button>        
          <a class="modal-close btn-flat red-text" (click)='cleanForm()'>Cancelar</a>
        </div>
        
      </div>
    </div>

</body>      