<header>
    <nav class="grey darken-3">
        <div class="nav-wrapper row">
          <form class="col s6 offset-s3">
            <div class="input-field">
              <input class="center-align grey darken-2 white-text" placeholder="Ingrese un número de tracking, camión, etc." id="search" type="search" required>              
              <label class="label-icon" for="search"><i class="material-icons">search</i></label>
              <i class="material-icons">close</i>
            </div>
          </form>

          <div class="col s2 offset-s1 grey darken-3 white-text">
            <!-- Dropdown Trigger -->
            <span class='dropdown-trigger' data-target='dropdown1'>rialvic@rialvilk.com</span>

            <!-- Dropdown Structure -->
            <ul id='dropdown1' class='dropdown-content'>
              <li><a (click)='onClickLogout()'>Cerrar Sesión</a></li>              
            </ul>
          </div>
          
        </div>
      </nav>
</header> <br>
    
    <!-- Page Layout here -->
    <div class="row">

      <div class="col s3">        
        <ul id="slide-out" class="sidenav sidenav-fixed">
            <div>
                <h1>FastShip</h1>
              </div>
          <li class="grey darken-3"><a class="white-text" href="#!">Métodos de Envio</a></li>
          <li class="grey darken-3"><a class="white-text" href="#!">Administración de Oficinas</a></li>
          <li class="grey darken-3"><a class="white-text" href="#!">Administración de Rutas</a></li>
        </ul>
      </div>

      <div class="col s9">
          <div class="row">
              <a class="waves-effect waves-light btn-large col s3 indigo">Métodos de Envío</a>   
              <a class="waves-effect waves-light btn-large col s3 offset-s1 green modal-trigger" href="#modalCrearME" materialize="modal">Crear Métodos de Envio</a>           
              <a class="waves-effect waves-light btn-large col s3 offset-s1 red">Eliminar Método de Envio</a>     
          </div>   
          
          <div class="col s11">
              <table>
                  <thead>
                    <tr>
                        <th>Descripción</th>
                        <th>Modificar</th>
                        <th>Eliminar</th>
                    </tr>
                  </thead>
          
                  <tbody>
                    <tr>
                      <td>Envío al segundo día | 2 días | terrestre </td>
                      <td><a href="#!" class="secondary-content"> 
                          <i class="material-icons black-text">settings_application</i> 
                        </a> 
                      </td>
                      <td>
                          <a href="#!" class="secondary-content"> 
                              <i class="material-icons black-text center-align">delete</i> 
                          </a> 
                      </td>                
                </table>

          </div>
          
          

      </div>

    </div>

    <!-- Modal Structure -->
  <div id="modalCrearME" class="modal modal-fixed-footer">
      <div class="modal-content row">
        <h4>Crear Método de Envío</h4>
        <p>Los métodos de envio son los niveles de servicio que son usador por los clientes. </p>
        <form>
            <div class="input-field col s6">
                <select>
                  <option value="" disabled selected>Horas</option>
                  <option value="12">12 horas</option>
                  <option value="24">24 horas</option>
                  <option value="48">48 horas</option>
                </select>
                <label>Tiempo de Envio</label>
              </div>
              <div class="col s6">
                  <h5>Métodos de Envío</h5>
                  <p>
                   <label>
                      <input type="checkbox" />
                      <span>Tierra</span>
                    </label>
                  </p>       
                  <p>
                    <label>
                        <input type="checkbox" />
                        <span>Mar</span>
                    </label>
                     </p>
                  <p>
                    <label>
                        <input type="checkbox" />
                        <span>Aire</span>
                      </label>
                    </p>                                 
              </div>            
        </form>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat green-text">Crear</a>
        <a class="modal-close waves-effect waves-green btn-flat red-text">Cancelar</a>
      </div>
    </div>

          
