<!-- Barra de Navegación Superior -->

<header>
    <app-operaciones-sidenav></app-operaciones-sidenav>      
    
</header> 

<aside>
    <app-operaciones-navbar></app-operaciones-navbar> 
</aside>

  <main class="row">
        <div class="col s9 offset-s3">
            <div class="col s3">
              <div class="card">
                <div class="card-image">
                  <img src="assets/img/operaciones/metodosEnvio.jpg">
                </div>
                <div class="card-content grey darken-4 white-text">
                  <span class="card-title">Métodos de Envío</span>
                  <p>Servicios de Entrega con tiempos en tránsito definidos y garantizados.</p>
                </div>
                <div class="card-action grey darken-4 yellow darken-2-text">
                  <a routerLink="/metodosEnvio">Ver más...</a>
                </div>
              </div>
            </div>

            <div class="col s3">
                <div class="card">
                  <div class="card-image">
                    <img src="assets/img/operaciones/oficinas.jpeg">
                  </div>
                  <div class="card-content grey darken-4 white-text">
                    <span class="card-title">Administración de Oficinas</span>
                    <p>Centros de Distribución, Oficinas de Servicio Locales y Hubs.</p>
                  </div>
                  <div class="card-action grey darken-4 yellow darken-2-text">
                    <a routerLink="/admOficinas">Ver más...</a>
                  </div>
                </div>
              </div>

              <div class="col s3">
                  <div class="card">
                    <div class="card-image">
                      <img src="assets/img/operaciones/rutas.jpeg">
                    </div>
                    <div class="card-content grey darken-4 white-text">
                      <span class="card-title">Administración de Rutas</span>
                      <p>Creacion de rutas y subrutas para cubrir mercados.</p>
                    </div>
                    <div class="card-action grey darken-4 yellow darken-2-text">
                      <a routerLink="/metodosEnvio">Ver más...</a>
                    </div>
                  </div>
                </div>
  </div>
  </main>


