<body>
  <!-- Barra de Navegación -->
  <app-usuario-navbar></app-usuario-navbar> 

  <main>
    <div class="center backgroundImg">
      <div class="row center">
          <div class="col s6 m6"> <br><br>
            <div class="card">
              <div class="card-content grey darken-4 yellow-text text-darken-2">
                <h2 class="card-title">Bienvenido a FastShip</h2>
                <p>FastShip es un servicio completo que le permite enviar y recibir paquetes de manera segura</p>
                <p>Para hacerle seguimiento a un paquete, inserte su número de tracking.</p>
              </div>
              <div class="card-action yellow darken-2">
                  <div class="input-field grey darken-4 white-text">                       
                      <input id="search" class="center-align grey-text text-darken-4" type="search" aria-controls="finalizadaTable" placeholder="Introduzca su número de tracking"> 
                      <label class="label-icon cyan-darken" for="search"><i class="material-icons">search</i></label> 
                      <i class="material-icons">close</i> 
                  </div> 
              </div>
              
            </div>
          </div>
        </div>

    </div>
    
  </main>
</body>
