<body>
  <!-- Barra de Navegación Superior -->
  <app-operaciones-navbar></app-operaciones-navbar>
  <div class="row">
    <!-- Barra de Navegación Lateral -->
    <app-operaciones-sidenav></app-operaciones-sidenav>

    <!-- Cuerpo de la Sección -->
    <div class="col s9 offset-s3">
        <div class="row">
            <a class="btn-large col s3 indigo">Administración de Cargamentos</a>
            <a class="btn-large col s3 offset-s1 green modal-trigger" href="#modalCrearCarga" materialize="modal">Crear Cargamento</a>
            <a class="btn-large col s3 offset-s1 red">Ver Cargamentos</a>
        </div>
            <hr>

  </div>
    </div>
  <!-- Mensaje en caso no existan métodos de envío -->
  <div class="container">
    <ng-template #noData>

      <h5 class="center-align">No existen oficinas registradas</h5>
    </ng-template>
  </div>

  <!-- Modal que contiene el formulario de inserción y actualización de métodos de envío. -->
  <div id="modalCrearCarga" class="modal modal-fixed-footer">
    <div class="modal-content row">
      <h4>Creación de Cargamento</h4>
      <form [formGroup]="cargamentoForm">

  <!-- Campo de Fecha de Cargamento -->

        <div class="input-field col s3">
            <input type="text" name="fechaEnvio" class="datepicker">
            <label for="fechaEnvio">Fecha de Cargamento</label>
        </div>

  <!-- Campo del Metodo de Envio -->

        <div class="input-field col s3">
            <select [(ngModel)]="modelPaquete.origen" name="origen" class="form-control validate" required #origen="ngModel">
              <option disabled>Metodo de Envio</option>
            </select>
        </div>

  <!-- Campo de Tipo de Transporte-->

        <div class="input-field col s3">
            <select [(ngModel)]="modelPaquete.origen" name="origen" class="form-control validate" required #origen="ngModel">
              <option disabled>Tipo de Transporte</option>
            </select>
        </div>

  <!-- Campo de Asignacion de Tienda Destino-->

        <div class="input-field col s3">
            <select [(ngModel)]="modelPaquete.origen" name="origen" class="form-control validate" required #origen="ngModel">
              <option disabled>Tienda Destino</option>
            </select>


        </div>

        <table class="responsive-table">
               <thead>
                 <tr>
                     <th>Numero de Traking</th>
                      <th>Tipo de Paquete</th>
                     <th>Tienda Origen</th>
                 </tr>
               </thead>
               <tbody>
                 <tr>
                   <td>Alvin</td>
                   <td>Eclair</td>
                   <td>$0.87</td>
                 </tr>
                 <tr>
                   <td>Alan</td>
                   <td>Jellybean</td>
                   <td>$3.76</td>
                 </tr>
               </tbody>
         </table>

      </form>

    </div>

    <div class="modal-footer">
      <button (click)='insertSubmit()' type="submit"  *ngIf="updClicked === false" class="modal-close btn-flat green-text">Crear</button>
      <button (click)='updateSubmit(metodoEnvio)' *ngIf="updClicked === true"  class="modal-close btn-flat green-text">Actualizar</button>
      <a class="modal-close btn-flat red-text" (click)='cleanForm()'>Cancelar</a>
    </div>

  </div>

</body>
