<body>
  <!-- Barra de Navegación Superior -->
  <app-operaciones-navbar></app-operaciones-navbar>
  <div class="row">
    <!-- Barra de Navegación Lateral -->
    <app-operaciones-sidenav></app-operaciones-sidenav>

    <!-- Cuerpo de la Sección -->
    <div class="col s9 offset-s3">
      <h4>Administracion de cargamentos</h4>
      <div class="col s9" *ngIf="arrmiTienda.length>0;else noData" >
            <div class="col l4" *ngFor="let item of arrmiTienda" >
              <div class="card grey darken-4 white-text">
                  <span class="card-title">{{item.nombre}}</span>
                <div class="card-content">
                  <p>Dirección: {{item.direccion}}</p>
                  <p>Tipo: {{item.tipo}}</p>
                  <p>Días Laborables: {{item.horario.diasLaborables}}</p>
                  <p>Horario: {{item.horario.horaApertura}}-{{item.horario.horaCierre}}</p>
                </div>
                <div class="card-action">
                  <a routerLink="/cargamentos/{{item.nombre}}">Cargamento</a>
                  <a routerLink="/transporte/{{item.nombre}}">Transporte</a>

              </div>
            </div>
          </div>

        </div>
      </div>
      </div>
  <!-- Mensaje en caso no existan métodos de envío -->
  <div class="container">
    <ng-template #noData>

      <h5 class="center-align">No se encuentran cargamentos registrados</h5>
    </ng-template>
  </div>

</body>
