<!-- Barra de Navegación Superior -->
<app-operaciones-navbar></app-operaciones-navbar>    

<div class="row">
  <!-- Barra de Navegación Lateral -->
  <app-operaciones-sidenav></app-operaciones-sidenav>      

      <!-- Cuerpo de la Sección -->
      <div class="col s9 offset-s3">
          <div class="row">
              <a class="btn-large col s3 indigo">Métodos de Envío</a>   
              <a class="btn-large col s3 offset-s1 green modal-trigger" href="#modalCrearME" materialize="modal">Crear Métodos de Envio</a>           
              <a class="btn-large col s3 offset-s1 red">Eliminar Método de Envio</a>   
          </div>   
          <hr>
          <!-- Tabla con los métodos de envío -->
          <div class="col m11" *ngIf="arr.length>0;else noData">
              <table class="bordered highlight responsive-table">
                  <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Tipos de Transporte</th>
                        <th>Modificar</th>
                        <th>Eliminar</th>                        
                    </tr>
                  </thead>
          
                  <tbody>
                    <tr *ngFor="let item of arr">
                      <td>
                          {{item.nombre}}
                      </td>
                      <td> 
                        <i class="material-icons" *ngIf="item.tipos.aire==true">airplanemode_active</i> 
                        <i class="material-icons" *ngIf="item.tipos.mar==true">directions_boat</i> 
                        <i class="material-icons" *ngIf="item.tipos.tierra==true">local_shipping</i> 
                      </td>
                      <td>
                        <a class="modal-trigger" (click)="onUpdate(item)" href="#modalCrearME">
                          <i class="material-icons black-text">settings_application</i> 
                        </a>
                      </td>
                      <td>
                        <a class="pointer-delete"  (click)="onDelete(item)">
                          <i class="material-icons black-text center-align">delete</i> 
                        </a>
                      </td>                
                </table>
          </div>                     
      </div>

    </div>

  <!-- Mensaje en caso no existan métodos de envío -->
  <div class="container">
    <ng-template #noData>
      
      <h5 class="center-align">No existen métodos de envío registrados</h5>
    </ng-template>
  </div>
  

    <!-- Modal que contiene el formulario de inserción y actualización de métodos de envío. -->
  <div id="modalCrearME" class="modal modal-fixed-footer">
      <div class="modal-content row">
        <h4>Administración de Método de Envío</h4>
        <p>Los métodos de envio son los niveles de servicio que son usados por los clientes. </p>
        <form [formGroup]="metodosEnvioForm"> 
            <div class="input-field col s12">
                <input formControlName="nombre" type="text" class="validate">
                <label class="active" for="nombre">Nombre</label>
            </div>         
            <div class="input-field col s6">                         
                  <select class="form-control browser-default" formControlName="tiempo">
                      <option disabled selected>Horas</option>
                      <option *ngFor="let opcion of opcionesTiempo" [value]="opcion">{{opcion}}</option>
                  </select>                      
              </div>
              <div class="col s6" formGroupName="tipos">
                  <h5>Tipo de Transporte</h5>
                  <p>
                   <label>
                      <input type="checkbox" class="form-control" formControlName="tierra"/>
                      <span>Tierra</span>
                    </label>
                  </p>       
                  <p>
                    <label>
                        <input type="checkbox" class="form-control" formControlName="mar"/>
                        <span>Mar</span>
                    </label>
                     </p>
                  <p>
                    <label>
                        <input type="checkbox" formControlName="aire"/>
                        <span>Aire</span>
                      </label>
                    </p>                                 
              </div>                            
        </form>               
      </div>

      <div class="modal-footer">
        <button (click)='insertSubmit()' type="submit" *ngIf="metodosEnvioForm.status === 'VALID' && updClicked === false" class="modal-close btn-flat green-text">Crear</button>        
        <button (click)='updateSubmit()' *ngIf="updClicked === true"  class="modal-close btn-flat green-text">Actualizar</button>        
        <a class="modal-close btn-flat red-text" (click)='cleanForm()'>Cancelar</a>
      </div>
      
    </div>      