
  <body>
      <nav>
        <div class="nav-wrapper grey darken-3">
          <a href="#" class="brand-logo">FastShip</a>
        </div>
      </nav> <br><br><br>  

      <main>            
          <div class="container grey lighten-4">
            <h5 class="center-align"><b> Inicio de Sesión </b></h5>
            <div class="row">
              <!-- Formulario de Inicio de Sesión -->
              <form class="col s12" (submit)="onSubmitLogin()">            
                <div class='row'>
                  <div class='input-field col s12'>
                    <input class='validate' name="email" [(ngModel)]="email" class="form-control" type="email" required />
                    <label for='email'>Correo Electrónico</label>
                  </div>
                </div>
    
                <div class='row'>
                  <div class='input-field col s12'>
                    <input class='validate' [(ngModel)]="password" name='password' class="form-control" type="password" required />
                    <label for='password'>Contraseña</label>
                  </div>  
                                   
                  <label>
                      <a class='pink-text'><b>¿Olvido su contraseña?</b></a>
                  </label>            
                </div>
    
                <br />
                
                  <div class='row'>
                    <button type='submit' name='btn_login' class='col s12 btn btn-large orange'><b>Iniciar Sesión</b></button>
                  </div>           
              </form>
            </div>
          </div>
      </main>
    
      <!--Footer -->
      <footer class="page-footer grey darken-3">
        <div class="container">
          <div class="row">
            <div class="footer-copyright">
              <h5 class="white-text">FastShip</h5>
              <p class="grey-text text-lighten-4">©2018 - Rialvik</p>
            </div>
          </div>
        </div>
      </footer>
  </body>
  