<!-- Modal Trigger -->
<a class="waves-effect waves-light btn modal-trigger" href="#modal1">Crear Sub-Ruta</a>

<!-- Modal Structure -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <!--aqui va el forrmulario-->
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s6">
            <input placeholder="Tienda de Origen" id="tienda_origen" type="text" class="validate">
            <label for="tienda_origen">Origen</label>
          </div>
          <div class="input-field col s6">
            <input placeholder="Tienda de destino" id="tienda_destino" type="text" class="validate">
            <label for="tienda_destino">Destino</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input disabled value="I am not editable" id="disabled" type="text" class="validate">
            <label for="disabled">Disabled</label>
          </div>
        </div>
        </div>
      </form>
    </div>

  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
  </div>
</div>
