<!-- Barra de Navegación Superior -->
<app-operaciones-navbar></app-operaciones-navbar>    

<div class="row">
  <!-- Barra de Navegación Lateral -->
  <app-operaciones-sidenav></app-operaciones-sidenav>      

      <!-- Cuerpo de la Sección -->
      <div class="col s9 offset-s3">
          
      </div>

    </div>

  <!-- Mensaje en caso no existan métodos de envío -->
  <div class="container">
    <ng-template #noData>
      
      <h5 class="center-align">No existen Sub-Rutas registradas</h5>
    </ng-template>
  </div>
  

    <!-- Modal que contiene el formulario de inserción y actualización de métodos de envío. -->
  <div id="modalsubruta" class="modal modal-fixed-footer">
      <div class="modal-content row">
        <h4>Crear Sub-Ruta</h4>
        
        <form [formGroup]="subRutaform">

            <div class="input-field col s6">
              <input type="text" class="datepicker">
            </div>

            <div class="input-field col s6"> 
                <label for="tiempoRecorrido">Tiempo Recorrido</label>
                <input placeholder="Tiempo estimado de recorrido" id="tiempoRecorrido" name="tiempoRecorrido" type="text" class="validate">
              </div>

              <div class="input-field col s6">
                <label for="tiendaOrigen">Tienda de Origen</label>
                <input name="tiendaOrigen" id="tiendaOrigen" placeholde="Origen del Envio" type="text" class="validate">
              </div>
              
              <div class="input-field col s6">
                  <label for="tiendaDestino">Tienda Destino</label>
                  <input name="tiendaDestino" id="tiendaDestino" placeholde="Destino del Envio" type="text" class="validate">
                </div> 

              <div class="col s6" formGroupName="tipos">
                  <h5>Métodos de Envío</h5>
                  <p>
                   <label>
                      <input type="checkbox" class="form-control" formControlName="tierra"/>
                      <span>Tierra</span>
                    </label>
                  </p>       
                  <p>
                    <label>
                        <input type="checkbox" class="form-control" formControlName="mar"/>
                        <span>Mar</span>
                    </label>
                     </p>
                  <p>
                    <label>
                        <input type="checkbox" formControlName="aire"/>
                        <span>Aire</span>
                      </label>
                    </p>                                 
              </div> 
              
             
        </form>       
        <p>Form value: {{ metodosEnvioForm.value | json }}</p>
        <p>Form status: {{ metodosEnvioForm.status | json }}</p>
      </div>

      <div class="modal-footer">
        <button (click)='insertSubmit()' type="submit"  *ngIf="updClicked === false" class="modal-close btn-flat green-text">Crear</button>        
        <button (click)='updateSubmit(metodoEnvio)' *ngIf="updClicked === true"  class="modal-close btn-flat green-text">Actualizar</button>        
        <a class="modal-close btn-flat red-text" (click)='cleanForm()'>Cancelar</a>
      </div>
      
    </div>      