<!-- Barra de Navegación -->
<header>
  <div class="navbar-fixed col s9">
    <nav class="grey darken-3">
        <div class="nav-wrapper row">
          <form class="col s5 offset-s3">
            <div class="input-field">
              <input class="center-align grey darken-2 white-text" placeholder="Ingrese un número de tracking, camión, etc." id="search" type="search" required>              
              <label class="label-icon" for="search"><i class="material-icons">search</i></label>
              <i class="material-icons">close</i>
            </div>
          </form>

          <!-- E-mail del Usuario Logueado -->
          <div class="col s1 offset-s2 grey darken-3 white-text">
            <span>{{email}}</span>
          </div>
          
          <!-- Botón para cerrar sesión -->
          <div class="col s1 red white-text pointer-cursor" (click)='onClickLogout()'>
              <a>Cerrar Sesión</a>
          </div>          

        </div>
      </nav>
    </div>
</header> <br>