<ul id="slide-out" class="sidenav sidenav-fixed yellow darken-2">
    <div class="logo center-align">
        <h4>FastShip</h4>
    </div>

    <ul class="collapsible grey darken-3 center-align">
            <li>
                <a class="grey darken-4 white-text sidenav-close" routerLink="/operaciones">Operaciones</a>
            <li>
                <a class="white-text sidenav-close" routerLink="/metodosEnvio">Métodos de Envio</a>
            </li>
            <li>
                <a class="white-text sidenav-close" routerLink="/admOficinas">Administración de Oficinas</a>
            </li>
            <li>
                <div class="collapsible-header white-text"> Administración de Rutas</div>
                    <div class="collapsible-body">
                        <ul>
                            <li class="grey darken-2">
                                <a class="white-text sidenav-close" routerLink="/rutas">Rutas</a>
                            </li>
                            <li class="grey darken-2">
                                <a class="white-text sidenav-close" routerLink="/subrutas">Subrutas</a>
                            </li>
                        </ul>
                    </div>
            </li>
            <li>
                <a class="white-tex sidenav-closet" routerLink="/cargamentos">Administración de Cargamentos</a>
            </li>
    </ul>
     <li><a class="subheader sidenav-close">Otras Secciones</a></li>
     <ul class="collapsible grey darken-4 white-text center-align">
        <li>
            <a class="white-text sidenav-close" routerLink="/oficina">Oficina</a>
        </li>
    </ul>
</ul>
