<body>
  <!-- Barra de Navegación Superior -->
  <app-operaciones-navbar></app-operaciones-navbar>
  <div class="row">
    <!-- Barra de Navegación Lateral -->
    <app-operaciones-sidenav></app-operaciones-sidenav>

    <!-- Lista de oficinas -->
    <div class="col s9 offset-s6">
      <h4>Cargamentos en Bodega</h4>
      </div>
    <div class="col s9 offset-s3" *ngIf="arr.length>0;else noData">
          <div class="col s12 l4" *ngFor="let envio of arr">
            <div class="card-stacked">
              <div class="card grey darken-4 white-text">
                <div class="card-content">
                  <p>- # de Tracking: {{envio.id}}</p>
                  <p>Destinatario: {{envio.destinatario.nombre}}  {{envio.destinatario.apellido}}</p>
                  <p>Destino: {{envio.detalles.destino}} </p>
                  <p>Tipo de Carga: {{envio.tipo}} </p>
                  <p>Metodo de Envio: {{envio.detalles.tipoEnvio}} </p>
                </div>

      </div>
          </div>

  </div>
</div>
</div>

 <!-- Mensaje en caso no existan métodos de envío -->
 <div class="container">
    <ng-template #noData>
      
      <h5 class="center-align">No se encuentran transportes registrados.</h5>
    </ng-template>
  </div>


</body>
